# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Build directories and files
/build/
/bin/
/obj/

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Logs and temporary files
*.log
*.tmp
*.temp

# VS Code settings folder
.vscode/

# MacOS system files
.DS_Store

# Linux system files
*~

# CMake build (if we ever use CMake)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# other
.upload.sh