config LMM_QZNUSNIH
    tristate "Linux memomy monitor for user space"
    default m
    help
        This Linux kernel module monitors a configurable byte of memory and logs the backtrace that led to the access, with separate handling for read and write operations.